.alertWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 80px;
  padding: 10px;
  background-color: #E22929;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease forwards;
}

.alertWrap.fadeOut {
  animation: fadeOut 0.3s ease forwards;
}

.alertIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
}

.alertIcon>img {
  object-fit: contain;
  object-position: 0px -50px;
}

.alertMessage {
  width: calc(100% - 30px);
  font-size: var(--font-size-14);
  color: #ffffff;
}

/* alert queue */

.alertQueue {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 80px;
  transform: translateX(-50%);
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}