/* ThanksMain */
.thanksMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 0 20px;
}

.listContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 20px 0;
  overflow: auto;
}

.writeFormContainer {
  width: 100%;
}

.thanksWriteForm {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.thanksWriteForm textarea {
  width: 100%;
  min-height: 50px;
  padding: 10px 40px 10px 10px;
  border: none;
  border-bottom: 2px solid #222222;
  border-top-left-radius: 10px;
  background-color: #ffffff;
  font-size: var(--font-size-18);
  transition: background-color .3s ease-in-out, border-bottom-color .3s ease-in-out;
  resize: none;
}

.thanksWriteForm textarea:focus {
  outline: none;
  background-color: #f1f1f1;
  border-bottom-color: var(--color-main);
}

.thanksWriteForm textarea:focus::-webkit-scrollbar {
  width: 2px;
}

.thanksWriteForm textarea:focus::-webkit-scrollbar-thumb {
  background-color: var(--color-placeholder);
  border-radius: 1px;
}

.thanksWriteForm .placeholder {
  position: absolute;
  top: 20px;
  left: 10px;
  width: calc(100% - 20px);
  text-align: left;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  color: var(--color-placeholder);
  cursor: text;
}

.thanksWriteForm button {
  position: absolute;
  right: 10px;
  bottom: 17px;
  width: 30px;
  transition: fill .3s ease-in-out, path .3s ease-in-out;
}

/* ThanksUpdateForm */

.thanksUpdateCover {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100svh - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 97;
}

.thanksUpdateWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 560px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.thanksUpdate {
  width: 100%;
  margin-bottom: 10px;
}

.thanksUpdate {
  width: 100%;
  min-height: 50px;
  padding: 20px;
  background-color: #ffffff;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #222222;
  font-size: var(--font-size-18);
  resize: none;
  transition: background-color .3s ease-in-out, border-bottom-color .3s ease-in-out;
}

.thanksUpdate:focus {
  outline: none;
  border-bottom-color: var(--color-main);
  background-color: #f1f1f1;
}

.thanksUpdate::-webkit-scrollbar {
  width: 4px;
}

.thanksUpdate::-webkit-scrollbar-thumb {
  background-color: var(--color-placeholder);
  border-radius: 4px
}

.thanksUpdateButtonWrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  text-align: right;
}

.thanksUpdateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  transition: background-color .3s;
}

.thanksUpdateButton:disabled {
  background-color: var(--color-button-back);
}

.thanksUpdateButton.submit {
  background-color: var(--color-button-submit);
}

/* ThanksBox */
.thanksBoxList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.thanksBoxList>li {
  width: 100%;
}

.thanksBox {
  position: relative;
  width: calc(100% - 40px);
  max-width: 560px;
  padding: 20px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.thanksBoxInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}

.thanksBoxWriter {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 24px;
}

.thanksBoxTime {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 22px;
  color: #999999;
}

.myBox {
  left: 40px;
  background-color: var(--color-main);
}

.myBox .thanksContent {
  color: #ffffff;
  white-space: pre-wrap;
}

.myBox .reactionWrap {
  background-color: #25bdd1;
}


.myBox .thanksBoxWriter {
  color: #ffffff;
}

.thanksMenu {
  position: absolute;
  bottom: 25px;
  right: 8px;
  min-width: 120px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transform-origin: bottom right;
  animation: slideUp 0.2s ease-out;
  z-index: 50;
}

.thanksMenu button {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  font-size: var(--font-size-14);
  color: #333333;
  transition: all 0.2s ease;
}

.thanksMenu button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--color-main);
}

.thanksMenu button.thanksMenuReport {
  color: #E22929;
}

.thanksMenu button.thanksMenuReport:hover {
  background-color: rgba(226, 41, 41, 0.1);
}

.myBox .thanksBoxTime {
  color: #cfcfcf;
}

.thanksBoxMenuButton {
  position: absolute;
  bottom: 14px;
  right: 20px;
}

/* ThanksContent */
.thanksContent {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: 24px;
}

/* Reaction */
.thanksBoxReactions {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  gap: 10px;
}

.reactionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.reactionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 10px 5px 0 0;
  height: 25px;
  padding: 0 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
  transition: border-color .3s ease-in-out;
}

.myBox .reactionButton {
  background-color: #32cbe0;
}

.reactionButton.myReaction {
  border-color: var(--color-main);
}

.myBox .reactionButton.myReaction {
  border-color: #ffffff;
}


.reaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.reactionCount {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  font-style: italic;
  color: #222222;
}

/* AddReactionButton */

.addReactionButton {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.addReactionButton:hover {
  background-color: #ffffff;
}

.addReactionButton.myButton {
  background-color: #32cbe0;
}

.addReactionButton.myButton:hover {
  background-color: #50cede;
}

.addReactionButton img {
  object-position: -50px 0;
}

/* ReactionSelector */

.reactionSelector {
  position: absolute;
  bottom: -15px;
  left: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 180px;
  padding: 5px 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  border-radius: 15px;
  opacity: 0;
  transform: translateY(10px);
  animation: slideLeft 0.2s ease-out forwards;
}

.reactionSelector.mySelector {
  background-color: #32cbe0;
}

.reactionSelectorButton {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.smile {
  object-position: 0 0;
}

.heart {
  object-position: -25px 0;
}

.thumbsup {
  object-position: -50px 0;
}

.clap {
  object-position: -75px 0;
}

.party {
  object-position: -100px 0;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}