.tagWrap {
  display: inline-block;
  position: relative;
  padding: 1px 10px 0 20px;
  background-color: var(--color-tag-bg);
  border-radius: 15px
}

.tagWrap.answered {
  background-color: var(--color-tag-bg-answered);
}

.tagIcon {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  overflow: hidden;
}

.tagKeyword {
  height: var(--tag-height);
  line-height: var(--tag-height);
  color: var(--font-color-negative);
}