@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --color-main: #00ACC1;

  --color-black-card: #263238;
  --color-gray-placeholder: #78909C;
  --color-red-warn: #E53935;
  --color-green-good: #00695C;
  --color-green-light: #00897B;
  --color-green-dark: #004D40;

  --color-input-border: #263238;
  --color-placeholder: #90A4AE;
  --color-button-submit: var(--color-main);
  --color-button-back: #546E7A;
  --color-tag-bg: #37474F;
  --color-tag-bg-answered: #0f9384;
  --color-tag-none-select-bg: #ECEFF1;
  --color-message-bg: var(--color-main);

  --font-color-basic: #263238;
  --font-color-negative: #FFFFFF;

  --font-family-basic: 'Pretendard Variable';

  --font-size-36: 2.25rem;
  --font-size-26: 1.625rem;
  --font-size-24: 1.5rem;
  --font-size-23: 1.4375rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: .875rem;

  --font-weight-light: 100;
  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --input-height-50: 50px;
  --input-font-size: var(--font-size-20);
  --input-font-weight: var(--font-weight-regular);

  --button-height-40: 40px;
  --button-font-size: var(--font-size-16);
  --button-font-weight: var(--font-weight-bold);

  --tag-height: 30px;
  --tag-font-size: var(--font-size-14);
  --tag-font-weight: var(--font-weight-regular);
}

* {
  font-family: var(--font-family-basic);
  letter-spacing: -.7px;
  color: var(--font-color-basic);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100svh;
}

::-webkit-scrollbar {
  width: 0;
}

main {
  width: 100%;
  height: calc(100svh - 50px);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}